* {padding:0; margin:0;}
body {
	font-size: 62.5%; /* '10px padrão' */
	width: 100%;
	background:#ccc;
}
.wrap {
	margin:0.5em 0.5em 0;
	font-family: verdana;
	//font-size:2.0em;
}

p, h3 { 
	padding: 0 0.25em 1em ;
	font-size:2.0em;
}

div.main {
	padding:1em 0 1em 1em;
	background:#fff;
}

.tabs li {
	list-style:none;
	display:inline;
}

.tabs a {
	font-size: 2em;
	padding: 0.25em 0.5em; /* 5px 10px; */
	margin:0 0.1em;
	display:inline-block;
	background:#666;
	color:#fff;
	text-decoration:none;
}
.tabs a:hover {
	background-color:red;
}

.tabs a.active {
	background:#fff;
	color:#000;
}

textarea {
	border:0.05em solid #ccc;
	resize: none;
	overflow:scroll-vertical;
	width: 50%;
	height: 20em;
	font-size: 2em;
	//font-family: Verdana, Arial, sans-serif;
}


/* BOTÃO BÁSICO */
.but {
	display: inline-block;
	background-color: #ccc;
	color: #444;
	padding: 0.7em 1.4em;
	margin-top: 0.5em;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	border: 0;
	border-radius: 0.4em;
}.but:hover{
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
	cursor: pointer;
}.but:active{
	background: #ccc;
}

.problema {
	width:30%;
	float:left;
	margin: 0 0.5em 0 0;
} .problema math {
	font-size: 2em;
}	

.mtext {
	font-style:italic;
}

.formulario {
	float:left;
	width:100%;
}
.footer {
	clear:both;
}

h4 {
	border-bottom: solid 0.2em #ccc;
	padding: 0.5em 0 0.5em 0 ;
	margin: 0 0 0.5em 0 ;
	font-size: 1.5em;
	/*color: red;*/
}


.dicionario {
	width:28%;
	/*background:red;*/
	float:left;
} .dicionario math {
	font-size: 3em;
}	

.recalculo {
	width: 40%;
	float:left;
	margin: 0 0.5em 0 0;
	/*background-color:#ccc;*/
}.recalculo math {
	font-size: 2em;
}	

.analise_fr{
	width: 30%;
	float:left;
	margin: 0 0.5em 0 0;
} .analise_fr math {
	font-size: 2em;
}	
